#test_btn1 { 
    width: 30px;
    margin-right:-2px;
} 

#test_btn2 { 
    width: 30px;
    margin-left:-2px; 
} 

#btn_group input[type="button"] {
    border: 1px solid #2493e0; 
    background-color: rgba(0,0,0,0); 
    color: #2493e0; padding: 5px; 
    margin-top: 8px;
} 

#btn_group input[type="button"]:hover { 
    color:white; 
    background-color: #2493e0; 
}

.form_colum1 {
    width: 300px;
    height: 50px;
    border: 2px solid #2493e0;
    border-color: #2493e0;
    align-items: center;
}

.form_colum2 {
    width: 300px;
    height: 50px;
    border: 1px solid #2493e0;
    border-color: #2493e0;
    align-items: center;
}

.text_line {
    float: left;
    margin-top: 12px;
}

.incdec {
    float: right;
    margin-right: 30px;
}

.rooms_text {
    margin-left: 18px;
    margin-right: 20px;
    color: #2493e0;
}

#rooms_num {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

#guest_num1 {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

#guest_num2 {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

#guest_num3 {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

#guest_num4 {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

#guest_num5 {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

#guest_num6 {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

#guest_num7 {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

#guest_num8 {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

#guest_num9 {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

#guest_num10 {
    color: #2493e0;
    text-align: center;
    border: none;
    width: 30px;
    height: 33px;
}

.success {
    font-size: 17px;
    width: 120px;
    height: 60px;
    margin-left: 860px;
    margin-bottom: 70px;
}